<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lubwama.mulimimobileapplication" >

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".FarmersPage"
            android:label="@string/title_activity_farmers_page"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MyProducts"
            android:label="@string/title_activity_my_products"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".UpdateMyProduct"
            android:label="@string/title_activity_update_my_product"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".GetFarmerDetails" >
        </activity>
        <activity android:name=".ShowAllProducts" >
        </activity>
        <activity android:name=".SendSms" >
        </activity>
        <activity android:name=".SendEmail" >
        </activity>
        <activity android:name=".FarmingTechniques" >
        </activity>
        <activity android:name=".ShareTechnique" >
        </activity>
    </application>

</manifest>
